* {
    margin: 0;
}

.Sparkle {
    font-size: 24px;
    font-family: "Arial";
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

li a {
    background-color: #faff00;
    font-size: 20px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-style {
    text-align: center;
    color: #333;
    background: #ccc;
    font-family: "Arial";
}

td {
    padding: 8px;
    text-align: center;
}
